{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="container">

<h2>Class Add</h2>
<form id="gpaForm" method="POST">
    {% csrf_token %}
    <form id="gpaForm">
        <div class="form-group">
            <label for="courseName">Course Name:</label>
            <input name ="name" type="text" class="form-control" id="courseName" required>
        </div>

        <div class="form-group">
            <label for="grade">Grade:</label>
            <select name="letterGrade" class="form-control" id="grade" required>
                <option value="A">A</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B">B</option>
                <option value="B-">B-</option>
                <option value="C+">C+</option>
                <option value="C">C</option>
                <option value="C-">C-</option>
                <option value="D+">D+</option>
                <option value="D">D</option>
                <option value="F">F</option>
            </select>
        </div>


    <button class="btn btn-primary" type="submit">Add Course</button>
</form>
</div>
{%endif%}
{% endblock %}
