<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPA Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: auto;
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
{% if request.user.is_authenticated %}
<div class="navbar">
  <p2>{{ request.user.username }}</p2>
  <a href="{% url 'addcourse' %}">Add Course</a>
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'deletecourse' %}">Delete Courses</a>
  <a href="{% url 'logout' %}">Logout</a>
</div>
{%endif%}
    {% block content %}
    {% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>