{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="container">

<h2>Class Remove</h2>
<form id="rmForm" method="POST">
    {% csrf_token %}
    <form id="rmForm">

        <div class="form-group">
            <label>Class:</label>
            <select name="name" class="form-control" id="course" required>
                {% for i in classList %}
                    <option value="{{i.name}}">{{ i.name }}</option>
                {% endfor %}
            </select>
        </div>


    <button class="btn btn-primary" type="submit">Remove Course</button>
</form>
</div>
{%endif%}
{% endblock %}
